<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Planetlia</title>
    <meta http-equiv="refresh" content="10">
</head>

<body>


    <div class="container">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col">Bot</th>
                </tr>
            </thead>
            <tbody>

                <% teams.forEach(function(t,i) { %>

                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= t.name %>
                        </td>
                        <td>
                            <%= t.points %>
                        </td>
                        <td>
                            <%= t.bot_name %>
                        </td>
                    </tr>

                    <% }); %>
            </tbody>
        </table>

        <br>
        <br>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Opponents</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Replay</th>
                </tr>
            </thead>
            <tbody>

                <% matches.forEach(function(m) { %>

                    <tr>

                        <th scope="row">
                            <%= m.round %>
                        </th>

                        <td>

                            <span class="badge rounded-pill <% if(m.team1===m.winner){ %>
                    bg-success
                <% } else{ %>  
                    bg-danger
                <% } %>">
                                <%= m.team1 %>
                            </span>

                            vs.

                            <span class="badge rounded-pill <% if(m.team2===m.winner){ %>
                    bg-success
                <% } else{ %>  
                    bg-danger
                <% } %>">
                                <%= m.team2 %>
                            </span>
                        </td>
                        <td>
                            <%= m.duration %>
                        </td>
                        <td>
                            <a href="<%= m.replay_link %>">download</a>
                        </td>
    </div>
    </tr>
    <% }); %>
        </tbody>
        </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>